@media only screen and (max-width: 375px) and (min-width:321px) {
    @import "../../variables";
    @import "../../intro/intro";
    @import "../../menu/menu";
    @import "../../mid/mid";
    @import "../../end/end";
    @import "../../pass/pass";


    #mid {
        #mid-container5 {
            #sub-containerMid5{
                .mid5Content {
                    .mid5Icon2 {
                        top: -9% !important;
                        left: 28% !important;
                        height: 75% !important;
                    }
                }
            }
        }
    }

    




}