section#intro {
    position: relative;
    height:400vh;

    .intro-container {
        * {z-index:10;}

        position:sticky;
        top:0;
        height: 100vh;
        width:100%;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        .introTit-container {
            width: 100%;
            height: 25vh;
            margin-bottom: 5vh;

            h1 {
                margin:auto;
                text-align: center;
                margin-top:10vh;
                color:white;
                font:{
                    family:blog;
                    size:6vw;
                };
            }

            img {
                position: absolute;
                z-index:9;
                left:32%;
                top:25%;
                
                width:27%;
                height:25vh;

            }
        }
    
        p:nth-child(2) {
            margin:0;
            width:60%;
            text-align: center;
            color:white;
            font:{
                family:bariolR;
                size:3vw;
            }
        }

        p:nth-child(4) {
            text-align: center;
            color:white;
            font:{
                family:bariolB;
                size:2vw;
            }
        }
    
    
        div {
            position:relative;
            width: 30%;
            height:25vh;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            .introIcon1 {
                height: 50%;
                align-self: flex-end;
                width:30%;
            }
    
            .introIcon2 {
                align-self: flex-start;
                position: relative;
                top:-10%;
                // left:5%;
                height:100%;
                width:35%;
            }
    
            .introIcon3 {
                align-self: flex-end;
                height: 50%;
                width:30%;
            }
        }

        img {
            position: absolute;
            top:0;
            width:100%;
            height: 100vh;
            z-index:0;
        }
    
    }
}


// TRIGGERS ///////////

.introSound-movimiento {
    position: absolute;
    top:60vh;
}

.introSound-click {
    position: absolute;
    bottom:60vh;
}