

//////// MIXINS ///////////////////
@mixin subContainers {
    * {
        // position: relative;
        z-index:10
    }

    overflow:hidden;
    position:sticky;
    top:0;
    height: 100vh;
    width:100%;


    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;

    >img {
        position: absolute;
        top:0;
        width:100%;
        height: 100vh;
        z-index:0;
    }
}

@mixin menuTitulos {
    h3 {
        opacity:0;
        width:80%;
        margin-bottom: 4vh;
        padding-top: 15vh;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;

        color:white;
        font:{
            family:blog;
            size:4vw;
        }
        transition:opacity 0.5s;
    }
}

@mixin menuTitulosResp {
    h3 {
        padding-top: 4vh;
        font-size: 4.5vw;
    }
}


@mixin midTitulos {
    h3 {
        width:60%;
        margin-top: 10vh;
        text-align: center;
        color:white;
        font:{
            family:bariolR;
            size:3.2vw;
            weight:lighter;
        }
        transition:opacity 0.5s;

    }
}

@mixin verTrigger {
    height:5vh;
    width:30vw;
    background-color: tomato;
    z-index: 1000000;

}










////////////// CLASES //////////////

.triggers {
    position:absolute;
    height: inherit;
    top:0;
}


.typed {
    animation:typedAnim 4s steps(40) forwards;
    opacity:1 !important;
}
@keyframes typedAnim {
    from {width:0%}
    to{width: 100%;}
}


.menuActive {
    background-image: url(../../img/other/menuSubrayado1.png) !important;
    transition: background-image 0.5s;
    svg {
        opacity:1 !important;
        transition: opacity 0.5s;
    }
}

// Spin para las personas + tuerca
@keyframes SpinA {
    to {transform:rotate(360deg)}
}

@keyframes SpinB {
    to {transform:rotate(-360deg)}
}



// Despliegue de los keyRoles

.hideK {
    opacity:0;
    transition: opacity 1s;
}

.showKeyRole {
    animation: showK 0.5s ease-out forwards ;
    p {
        animation: showK-text 1s ease-out forwards;
    }
}

@keyframes showK {
    0% {transform: scale(0);}
    90% {transform: scale(1.1);}
    100% {transform:scale(1)}
}

@keyframes showK-text {
    0% {opacity:0}
    90% {opacity:0}
    100% {opacity:1}
}





//////////////// FONTS ///////////////////
@font-face {
    font-family:amatic;
    src:url(../fonts/Amatic-Bold.ttf)
}
@font-face {
    font-family:bariolB;
    src:url(../fonts/bariol_bold-webfont.ttf)
}
@font-face {
    font-family:bariolR;
    src:url(../fonts/bariol_regular-webfont.ttf)
}
@font-face {
    font-family:blog;
    src:url(../fonts/Blog_Script-W00-Regular.ttf)
}
@font-face {
    font-family:helv;
    src:url(../fonts/HelveticaLTStd-LightCond.otf)
}

