@import "media/992/992";
@import "media/768/768";
@import "media/600/600";
@import "media/320/320";
@import "media/375/375";


html,body {
    user-select: none;
    margin-bottom:0;
    margin-top: 0;
}

body {
    position: relative;
}




