@media only screen and (max-width: 600px) {
    @import "../../variables";
    @import "../../intro/intro";
    @import "../../menu/menu";
    @import "../../mid/mid";
    @import "../../end/end";
    @import "../../pass/pass";

    
    section#intro {
        .intro-container {

            .introTit-container {
                h1 {
                    width:90%;
                    font-size: 8vw;
                }

                img {
                    left:26%;
                    // width: 36%;
                    height: 15vh;
                }

            }
            p:nth-child(2) {
                width: 80%;
                font-size: 6.5vw;
            }
            p:nth-child(4) {
                width: 80%;
                font-size: 5vw;
            }

            .introIcons {
                width:75%;
                height: 20vh;

                // .introIcon1 {height:30%}
                .introIcon2 {height: 70%;align-self: center;}
                // .introIcon3 {height: 30%;}
            }
        }
    }

    section#menu {
        .menuQuestions-container {
            #menuQuestions {
                padding: 0;
                width:90%;
                li {
                    font-size: 5.5vw;
                    padding:0;

                    svg{display: none}
                }
            }

        }

        #containerWhat {
            height: 740vh;
            #sub-containerWhat {
                @include menuTitulosResp;      
                .whatContent {
                    height:60%;
                    width:90%;

                    grid-template-areas:
                    "icon1 primerP primerP"
                    "icon1 icon3 icon3"
                    "icon2 segundoP segundoP";                    

                    p:nth-child(1) {
                        font-size: 4.8vw;
                        padding-left: 4vw;
                    }   
                    
                    p:nth-child(2) {
                        align-self: center;
                        font-size: 3.3vw;
                    }
        
                    .whatIcon1 {
                        // top:-5%;
                        width:120%;
                    }
        
                    .whatIcon2 {
                        align-self: center;
                        width: 130%;
                    }
                }
            }
        }

        #containerWhen {
            height: 790vh;
            #sub-containerWhen {
                padding-top: 0;
                @include menuTitulosResp;      
                .whenContent {
                    height:70%;
                    width:80%;

                    margin-bottom: 0;

                    flex-direction: column;
                    * {width:100%}
                    
                    .whenText {
                        p {
                            color:white;
                            font:{
                                family:bariolR;
                                size:6vw;
                            }
                        }
        
                        p:nth-child(2) {
                            position: static;
                            // top:2rem;
                            // left:3rem;
                        }
                    }

                    .whenIcon1 {
                        height: 20%;
                    }

                    .whenIcon2 {
                        height: 10%;
                    }

                }
            }
        }        

        #containerWhy {
            height: 820vh;
            #sub-containerWhy {
                padding-top: 0;
                @include menuTitulosResp;
                h3 {z-index:100} 
                .whyContent {
                    height: 70%;
                    width:95%;

                    .whyText {
                        position: relative;
                        left:5%;
                        >p {
                            width: 110%;
                            height: 30%;
                            font-size: 5.2vw;
                        }
                        .whyCheck {
                            width:80%;
                            height: 40%;
                            grid-template-columns: 0.11fr 1fr;
                            grid-template-rows:1fr 1fr 1fr 1fr;
                            grid-template-areas: 
                            "check1 ."
                            "check2 ."
                            "check3 ."
                            "check4 .";

                            .check {
                                top:-20%;
                                width:100%;
                            }
                            p {
                                align-self: start;
                                font-size: 4.2vw;
                            }
                        }
                    }

                    .whyIcon {
                        position: relative;
                        left:-15%;
                        top:50%;
                        height: 50%;
                        z-index:0;
                    }

                }
            }

            .whyTrigger-rocket {
                position: absolute;
                top:430vh;
            }
        }
    }

    #howPass {
        #containerHow {
            #sub-containerHow {
                padding-top: 0;
                @include menuTitulosResp;
                h3 {font-size: 5.2vw;}
                .howContent {
                    width:95%;
                    height:65%;

                    grid-template-areas:
                    "icon1 icon1 text"
                    "logo logo icon2";

                    >p {
                        position: relative;
                        right: 2%;
                        width:100%;
                        text-align: start;
                        font-size: 4.5vw;
                    }

                    .logo {
                        top:-35%;
                        left:10%;

                        width: 80%;
                    }

                    .howIcon1 {
                        top:-10%;
                        left:20%;
                        width: 50%;
                        transform: scale(1);
                    }

                    .keepS {
                        position: relative;
                        top:10%;
                        .howIcon2 {
                            width:10%;
                            align-self: center;
                        } 
                        p {
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }

    section#mid {
        #mid-container1-2 {
            .girl-subContainer {
                .girlContainer {
                    height: 100vh;

                    .midIcon-girl {
                        width:60%;
                    }

                    .midIcon-question {
                        width:20%;
                    }
                }
            }
            #mid-container1 {
                #sub-containerMid1 {
                    h3 {
                        font-size: 5.5vw;
                    }
                }
            }   
            
            #mid-container2 {
                #sub-containerMid2 {
                    h3 {
                        font-size: 7vw;
                        span {line-height: 0;}
                    }
                }
            }
        }

        #mid-container3 {
            #sub-containerMid3 {
                h3 {
                    width:80%;
                    font-size: 8vw;
                }

                .mid3Content {
                    .mid3Icon1 {
                        width:80%;
                        left:5%;
                        top:-18%;
                    }

                    .mid3Icon2 {
                        width:45%;
                    }

                    .mid3Icon3 {
                        width:90%;
                    }
                }
            }
        }

        #mid-container4 {
            #sub-containerMid4 {
                h3 {
                    width:90%;
                    font-size: 8.5vw;
                }
        
                .mid4Icon {
                    position: relative;
                    top:-10%;
                    width: 100%;
                    height: 80%;
                    transform: scale(1.2);
                }
            }
        }

        #mid-container5 {
        
            #sub-containerMid5 {
                h3 {
                    width:80%;
                    margin-top:0;
                    font-size:6vw;
                }
        
                .mid5Content {
                    .mid5Icon2 {
                        top: -16%;
                        left: 28%;
                        height: 85%;
                    }
                }
            }
        }

        #mid-container6 {
        
            #sub-containerMid6 {
                h3 {
                    margin-top:10vh;
                    font-size: 8vw;    
                }
        
        
                .mid6Content {
                    .mid6Icon1 {
                        width:40%;
                        top:5%;
                    }
                    .mid6Icon2 {
                        position: relative;
                        width:25%;
                        top:-15%;
                        left:7%;
                    }
                    .mid6Icon3 {
                        position: relative;
                        width: 25%;
                        top:50%;
                        right:-5%;
                    }
                }
            }
        }

    }

}