@media only screen and (max-width: 600px) {
    @import "../../variables";
    @import "../../intro/intro";
    @import "../../menu/menu";
    @import "../../mid/mid";
    @import "../../end/end";
    
    section#intro {
        .intro-container {
            h1 {
                width:80%;
                font-size: 12vw;
            }
            p:nth-child(2) {
                width: 80%;
                font-size: 6.5vw;
            }
            p:nth-child(4) {
                width: 80%;
                font-size: 5vw;
            }

            .introIcons {
                width:75%;
                height: 20vh;

                // .introIcon1 {height:30%}
                .introIcon2 {height: 70%;align-self: center;}
                // .introIcon3 {height: 30%;}
            }
        }
    }

    section#menu {
        #menuQuestions {
            width:95%;
            li {
                font-size: 6vw;
            }
        }

        #containerWhat {
            #sub-containerWhat {
                @include menuTitulosResp;      
                .whatContent {
                    height:60%;
                    width:90%;

                    p:nth-child(1) {
                        font-size: 4.8vw;
                        padding-left: 3vw;
                    }   
                    
                    p:nth-child(2) {
                        align-self: center;
                        font-size: 3.2vw;
                    }
        
                    .whatIcon1 {
                        width: 80%;
                    }
        
                    .whatIcon2 {
                        align-self: center;
                        left:-50%;
                        width: 130%;
                    }
                }
            }
        }

        #containerWhen {
            #sub-containerWhen {
                padding-top: 0;
                @include menuTitulosResp;      
                .whenContent {
                    height:70%;
                    width:80%;

                    margin-bottom: 0;

                    flex-direction: column;
                    * {width:100%}
                    
                    .whenText {
                        p {
                            color:white;
                            font:{
                                family:bariolR;
                                size:6vw;
                            }
                        }
        
                        p:nth-child(2) {
                            position: static;
                            // top:2rem;
                            // left:3rem;
                        }
                    }

                    .whenIcon1 {
                        height: 20%;
                    }

                    .whenIcon2 {
                        height: 10%;
                    }

                }
            }
        }        

        #containerWhy {
            #sub-containerWhy {
                padding-top: 0;
                @include menuTitulosResp;      
                .whyContent {
                    height: 70%;
                    width:95%;

                    .whyText {
                        >p {
                            width: 110%;
                            height: 30%;
                            font-size: 5.2vw;
                        }
                        .whyCheck {
                            width:66%;
                            height: 40%;
                            grid-template-columns: 0.11fr 1fr;
                            grid-template-rows:1fr 1fr 1fr 1fr;
                            grid-template-areas: 
                            "check1 ."
                            "check2 ."
                            "check3 ."
                            "check4 .";

                            .check {
                                top:-20%;
                                width:100%;
                            }
                            p {
                                align-self: center;
                                font-size: 4.2vw;
                            }
                        }
                    }

                    .whyIcon {
                        position: relative;
                        left:-15%;
                        top:50%;
                        height: 50%;
                    }

                }
            }
        }

        #containerHow {
            #sub-containerHow {
                padding-top: 0;
                @include menuTitulosResp;
                h3 {width:95%} 
                .howContent {
                    width:95%;
                    height:65%;

                    grid-template-areas:
                    "icon1 icon1 text"
                    "logo logo icon2";

                    >p {
                        width:100%;
                        text-align: start;
                        font-size: 5vw;
                    }

                    .logo {
                        top:-35%;
                        left:10%;

                        width: 80%;
                    }

                    .howIcon1 {
                        top:-10%;
                        left:0;
                        width: 80%;;
                        transform: scale(1);
                    }

                    .keepS {
                        .howIcon2 {
                            width:10%;
                        } 
                        p {
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }


}