#containerHow {
    position: relative;
    height:650vh;
    #sub-containerHow {
        @include subContainers;
        @include menuTitulos;

        .howContent {
            margin-bottom: 5vh;
            width: 75%;
            height: 54%;

            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-template-rows: 2fr 1fr;
            grid-template-areas:
            "text text text"
            "icon1 logo icon2";

            >p {
                grid-area:text;
                justify-self: center;
                width: 78%;
                text-align: center;
                color:white;
                font:{
                    family:bariolR;
                    size:2.4vw;
                }
            }

            .logo {
                position:relative;
                top:-35%;
                left:-54%;
                transform: rotate(20deg);

                grid-area: logo;
                width:100%;
                align-self: end;

                background-color: white;

                
            }

            .howIcon1 {
                position: relative;
                top:-150%;
                left:-50%;
                transform: scale(1.5);

                grid-area: icon1;
                width:100%;
                height:100%;
                align-self: end;

                .light {
                    fill:none;
                }

            }

            .keepS {
                grid-area: icon2;
                align-self: end;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-content: flex-end;

                .howIcon2 {
                    width:8%;
                    height: 50%;
                    align-self: flex-end;
                }

                >p {
                    width:80%;
                    align-self: flex-end;
                    color:black;
                    font: {
                        family:helv;
                        size:1.8vw;
                    }
                }
            }
        }
    }
}


////// TRIGGERS /////////////////7

.howTrigger-title{
    position:absolute;
    top:80vh;
}

.howTrigger-content {
    position: absolute;
    top:180vh;
}
