@import "what";
@import "when";
@import "why";
@import "how";

section#menu {
    position: relative;

    .menuQuestions-container {
        position: sticky;
        top:5vh;
        z-index:1000;
        width:100%;
        height: 0;

        #menuQuestions {
            position: relative;
            width: 65%;
            margin:0;
            padding-right:0;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
    
            margin:auto;
    
            li {
                width:25%;
                padding-top: 2vh;
                padding-left: 1vw;

                position:relative;
                color:white;
                text-align: center;

                font:{
                    family:blog;
                    size:3vw;
                }
    
                background-image: url(../../../img/other/menuSubrayado2.png);
                background-size: contain;
                background-repeat: no-repeat;
                transition: background-image 0.5s;

                >svg {
                    // opacity:0;
                    position: absolute;
                    width:15%;
                    height: 100%;
                    top:-5%;
                    left:5%;
                    .cls-1{fill:none;}
                    .cls-2{clip-path:url(#clip-path);}
                    .cls-3{fill:#fff;}

                     transition: opacity 0.5s;

                }

            }

            li#why {
                svg{
                    left:9%;
                }
            }
            li#how {
                svg{
                    left:9%;
                }
            }
        }
    }
}

// TRIGGERS ////////////

.menuTrigger {
    position: absolute;
    top:35vh;
}
.menuTrigger-out {
    position: absolute;
    bottom:50vh;
}
