#containerWhat {
    position: relative;
    height: 550vh;
    @include backg;

    #sub-containerWhat {
        @include subContainers;
        justify-content: center;

        @include menuTitulos;

        .whatContent {
            position: relative;
            top:0%;

            height:55%;
            width:65%;

            display: grid;
            grid-template-columns: 0.8fr 0.3fr 1fr;
            grid-template-rows: 1fr 0.1fr 1fr;
            grid-template-areas:
            "icon1 primerP primerP"
            "icon1 icon3 icon3"
            "icon1 icon2 segundoP";

            p:nth-child(1) {
                grid-area:primerP;
                color:white;
                font:{
                    family:bariolR;
                    size:2vw;
                }

            }   
            
            p:nth-child(2) {
                margin-left: 1vw;
                grid-area: segundoP;
                font:{
                    family:bariolR;
                    size:1.6vw;
                }

            }

            .whatIcon1 {
                grid-area:icon1;
                position:relative;
                width: 100%;
                height: 100%;

                .pp {
                    transform-origin: center;
                    transform-box: fill-box;
                }

                
                .cls-1{fill:none;}
                // .cls-2{clip-path:url(#clip-path);}
                // .cls-3{clip-path:url(#clip-path-2);}
                // .cls-4{clip-path:url(#clip-path-3);}
                .cls-5{fill:#fff;}
                .cls-6{fill:#231f20;}

                .pp {
                    animation:SpinA 8s infinite linear;
                }

                animation: SpinB 8s infinite linear;
            }

            .whatIcon2 {
                grid-area:icon2;
                position:relative;
                width:100%;
                
                .exclam {
                    transform-origin: 50% 50%;
                }
            }

            .whatIcon3 {
                grid-area:icon3;
                position:relative;
                top:-50%;
                width:100%;
            }
        }
    } 
}


// TRIGGERS ////////////////////////



.whatTrigger-title {
    position: absolute;
    top:150vh;
    // @include verTrigger;
}

.whatTrigger-content {
    position: absolute;
    top:230vh;
}
