#containerWhen {
    position: relative;
    height:520vh;
    #sub-containerWhen {
        @include subContainers;
        // justify-content: center;
        @include menuTitulos;


        .whenContent {
            // border:black 2px solid;
            margin-bottom: 15vh;
            width:70%;
            height:40%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .whenText {
                width:50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                p {
                    // margin:0;
                    color:white;
                    font:{
                        family:bariolR;
                        size:2.2vw;
                    }
                }

                p:nth-child(2) {
                    position: relative;
                    top:2rem;
                    left:3rem;
                }
            }

            .whenIcon1 {
                width:25%
            }
            .whenIcon2 {
                width:10%;
                align-self: flex-end;
            }
        }
    }
}

// TRIGGERS ////////////////////////

.whenTrigger-title{
    position:absolute;
    top:80vh;
}

.whenTrigger-content {
    position: absolute;
    top:180vh;
}


