
div#end-container11-12-13-14 {
    position: relative;


    .groupContainer {
        position: sticky;
        top:8vh;
        z-index:10010;
        
        width:100%;
        height: 0;

        display: flex;
        justify-content: center;

        
        .groupIcons {
            overflow-x: hidden;
            position: absolute;
            left:30%;
            width:69%;
            height:60vh;

            display: flex;
            flex-direction: column;
            justify-content: center;

            svg {height: 100%;}

            p {
                position: absolute;
                top:-10%;
                right:0%;
                width:50%;

                color:white;
                font:{
                    family:bariolB;
                    size:2.8vw;
                }
            }
            p:after {
                content:"CHAPTER LEADER";
                font-family: blog;
            }

            .chat {
                width:45%;
                height:20%;
                
                display: flex;
                flex-direction: row-reverse;

                svg {height: 100%;}

                .chatIcon1 {
                    position: relative;
                    left:-20%;
                    width: 40%;
                }
                .chatIcon2{
                    width:60%;
                }
            }

            .group {
                width:100%;
                height:45%;

                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                svg {
                    position: relative;
                }

                .groupIcon1 {
                    bottom:-8%;
                    // left: 15%;
                }
                .groupIcon2 {
                    bottom:-9%;
                    left:-5%;
                }
                .groupIcon3 {
                    bottom: -10%;
                    left:-8%;
                }
                .groupIcon4 {
                    bottom:16%;
                    left:-15%;
                    height:125%;                
                }
            }

            .groundIcon {
                width:70%;
                height:8%;
            }
        }

    }


    div#end-container11-12 {
        .boatContainer {
            position: sticky;
            top:16vh;
            z-index:10010;
            
            width:100%;
            height: 0;
    
            
            .boatIcons {
                position: absolute;
                left:5vw;
                width: 60%;
                height:85vh;

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    position: absolute;
                    top:-20%;
                    width: 100%;
                    text-align: center;
                    color:white;

                    font:{
                        family:blog;
                        size:3.5vw;
                    }
                }

                .boat {
                    height: 100%;
                    width:30%;
                } 

                .rectangles {
                    position: absolute;
                    
                    width: 100%;
                    height: 70%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    svg {
                        position: relative;
                        width: 85%;
                    }

                    .rect1 {top:25%;}
                    .rect2 {top:29%;}
                }
            }
        }

        div#endContainer11 {
            height:600vh;
        
            div#sub-containerEnd11 {
                z-index:1002;
                @include subContainers;
                justify-content: center;
                align-items: flex-end;


                .end11Content {
                    position: relative;
                    right: 12%;
                    width:20%;
                    height: 80%;

                    padding-top: 5%;

                    p {
                        color: white;
                        font:{
                            family:bariolR;
                            size:2.5vw;
                        }
                    }
                }
        
            }
        }
        
        div#endContainer12 {
            position: relative;
            height:700vh;
        
            div#sub-containerEnd12 {
                @include subContainers;
                align-items: flex-end;

                .end12Content {
                    position: relative;
                    right: 5%;
                    width:26%;
                    height: 45%;


                    p {
                        color: white;
                        font:{
                            family:bariolR;
                            size:2.5vw;
                        }
                    }
                }
        
            }
        }

    }
    

    div#end-container13-14 {

        .responsibContainer {
            position: sticky;
            top:62vh;
            z-index:10010;
            
            width:100%;
            height: 0;

            display: flex;
            justify-content: center;

            >.responsib {
                position: absolute;
                width: 60%;
                height:35vh;


                display: flex;
                flex-direction: row;
                justify-content: space-between;

                >p {
                    position: absolute;
                    top:-30%;
                    width:100%;
                    margin:0;

                    text-align: center;
                    font:{
                        family:bariolR;
                        size:2vw;
                    }
                }
               >p:after {
                    content:"RESPONSIBILITIES";
                    font-family: bariolB;
                }

                .card {
                    position: relative;
                    height: 100%;
                    width:100%;


                    .back {
                        height: 100%;
                        background-color: transparent;
                        
                        display: flex;
                        justify-content: center;
                        
                        .backCard {
                            width: 100%;
                            height:100%;
                            border:none;
                        }

                        .backIcon {
                            position: absolute;
                            height:100%;
                            width:50%;
                        }

                        .backIconRight {
                            width:40%;
                        }
                    }

                    .flip {
                        position: absolute;
                        top:0;
                        height: 100%;
                        background-color: transparent;
                        
                        display: flex;
                        justify-content: center;

                        .flipCard {
                            width: 100%;
                            height:100%;
                            border:none;
                        }

                        .flipText {
                            position: absolute;
                            height:100%;
                            width:50%;

                            text-align: center;
                            font:{
                                family:bariolR;
                                size:1.5vw;
                            }
                        }

                        .flipTextCenter {
                            top:25%;
                        }
                    }
                }
                

            }
        }

        div#endContainer13 {
            position: relative;
            height:400vh;
        
            div#sub-containerEnd13 {
                @include subContainers;
        
            }
        }
        div#endContainer14 {
            height:200vh;
        
            div#sub-containerEnd14 {
                @include subContainers;
        
            }
        }

    }

}

// TRIGGERS /////////////

.end11-12-13-14Triggger {
    position:absolute;
    top:100vh
}

.end12Trigger {
    position: absolute;
    top:80vh;
}

.end13Trigger {
    position: absolute;
    top:50vh;
}