div#endContainer15 {
    position: relative;
    height:280vh;
    z-index: 11;

    div#sub-containerEnd15 {
        @include subContainers;
        justify-content: flex-start;
        * {transition: opacity 1s;}

        h3 {
            width: 35%;
            color:white;
            text-align: center;
            font:{
                family:blog;
                size:2.4vw;
            }
        }

        .play {
            cursor: pointer;
            margin-top:2%;
            height:18%;

            .cls-1{fill:#fff;}
            .cls-2{fill:#020100;}

        }

        video {
            cursor:pointer;
            position: absolute;
            z-index:5;
            width:100%;
            height:100%;
            opacity:0;
            outline: none;
            background-color: white;
        }

        .close {
            cursor: pointer;
            opacity: 0;
            position:absolute;
            right:2%;
            top:2%;
        }

    }
}

// TRIGGERS //////////

.end15Trigger {
    position:absolute;
    top:50vh;
}