div#end-container4-5-6 {
    position: relative;

    .end4-5-6Icon {
        position: sticky;
        top:10vh;
        height: 0;
        width:100%;
        z-index:100;

        display: flex;
        justify-content: center;

        svg {
            position: absolute;
            height:85vh;
        }

        p {
            position: relative;
            top:-10vh;
            left:12%;
            color:black;
            font:{
                family:blog;
                size:3vw;

            }
        }

    }

    
    div#endContainer4 {
        height:650vh;

        div#sub-containerEnd4 {
            @include subContainers;
            justify-content: center;

            .end4Content {
                margin-top: 10vh;
                width:80%;
                height:65%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    width:25%;
                    color:white;
                    font:{
                        family:bariolB;
                        size:2.5vw;
                    }
                }

                ul{
                    width:30%;
                    align-self:flex-end;
                    
                    color:white;
                    font:{
                        family:bariolB;
                        size:2.5vw;
                    }

                    li {
                        margin-left: 5vh;
                        font: {
                            family:bariolR;
                            size:2vw;
                        }
                    }
                }
            }
        }
    }


    div#end-container5-6 {
        position: relative;

        .contentContainer {
            width: 100%;
            height:0;
            position: sticky;
            top:10vh;
            z-index: 100;

            display: flex;
            justify-content: center;

            .end5-6Content {
                width:95%;
                height:80vh;

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .keyRoles {
                    width:30%;
                    padding-left: 8%;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;


                    color:white;
                    font:{family:blog;size:3vw;}

                    
                    li {
                        position: relative;
                        list-style: none;
                        font:{family:bariolB;size:2.3vw;}

                        
                        button {
                            cursor: pointer;
                            width: 12%;
                            border-radius:100vw;
                            border:none;
                            background-color: white;
                            outline-style:none ;
                            
                            font:{family:bariolB;size:3vw;}
                            line-height: 0.8;
                            padding-bottom: 2.5%;
                            

                        }

                    }

        

                    li:nth-child(1) {button{color:#0b367a};}
                    li:nth-child(2) {button{color:#5cdd33};}
                    li:nth-child(3) {button{color:#9984c2};}
                }

                .info {
                    margin:0;
                    width:25%;
                    height:100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    color:white;
                    font:{
                        family:bariolR;
                        size:1.6vw;
                    }

                    li {
                        position: relative;
                        list-style: none;
                        width: 100%;
                        height:33%;
                        
                        p {
                            position: relative;
                            z-index: 10;
                            width:75%;
                            padding:0 5%;
                        }
                        
                        img {
                            position: absolute;
                            z-index: 0;
                            top:4%;
                            left:-12%;
                            width: 100%;
                            height:95%;
                        }
                    }
                }
            }
        }
    

        div#endContainer5 {
            height:450vh;

            div#sub-containerEnd5 {
                @include subContainers;
                @include menuTitulos;

            }
        }

        div#endContainer6 {
            position:relative;
            height:620vh;

            div#sub-containerEnd6 {
                @include subContainers;
                @include menuTitulos;

            }
        }
    }
}

// TRIGGERS /////////////

.end4-5-6Trigger-boat {
    position: absolute;
    top:100vh;
}

.end4Trigger-content {
    position: absolute;
    top:150vh;
}

.end5-6Trigger-leftContent {
    position:absolute;
    top:75vh;
}

.end6Trigger-out {
    position:absolute;
    bottom:70vh;
}