    
div#end-container7-8 {
    position: relative;

    @include backg;
    img:nth-child(1) {height: 50%;}
    img:nth-child(2) {height: 50%;top:50%}

    .end7-8Icon {
        position:sticky;
        z-index:1001;
        height: 0;
        top:3vh;
        width: 58%;
        padding-left: 5%;

        display:flex;
        flex-direction: row;
        justify-content: space-around;

        >p {
            position: absolute;
            top:-5vh;
            
            width: 100%;
            text-align: center;

            font:{
                family:blog;
                size:3vw;
            }
        }

        div {
            position: relative;
            width:28%;
            height: 100vh;
            
            svg {
                width:100%;
            }

            p {
                position: relative;
                bottom:15%;
                left: 0;
                text-align: center;
                font:{
                    family:blog;
                    size:2rem;
                }
            }
        }

        .center {
            p {bottom:18%}
        }
    }
    
    div#endContainer7 {
        height:850vh;

        div#sub-containerEnd7 {
            z-index:1000;
            @include subContainers;
            justify-content: center;

            .end7Content {
                width:80%;
                height: 80%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                p {
                    padding-right:1%;
                    width:30%;
                    color:white;
                    font:{
                        family:bariolB;
                        size:2rem;
                    }
                }
                p:nth-child(2) {font-family: bariolR;}
            }
        }
    }

    div#endContainer8 {
        position: relative;
        height:300vh;

        div#sub-containerEnd8 {
            @include subContainers;
            justify-content: center;
            
            .end8Content {
                width:75%;
                height: 80%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                p {
                    padding-right:1%;
                    width:20%;
                    color:white;
                    font:{
                        family:bariolB;
                        size:1.8rem;
                    }

                    span {
                        font-family: blog;
                    }
                }
                p:nth-child(2) {font-family: bariolR;}
            }

        }
    }
}

// TRIGGERS /////////

.end7Trigger {
    position: absolute;
    top:100vh;
}

.end8Trigger-out {
    position: absolute;
    bottom:80vh;
}