@import "end1-2";
@import "end3";
@import "end4-5-6";
@import "end7-8";
@import "end9-10";
@import "end11-12-13-14";
@import "end15";
@import "end16";

#end {
    position: relative;
    * {z-index: 10;}


    >img {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}