div#end-container9-10 {
    .end9-10Content-container {
        position: sticky;
        z-index: 1002;
        top:1%;
        width: 100%;
        height:0;


        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;

        .end9-10Content {
            align-self: flex-start;
            border:black solid 2px;
            position: relative;
            left:5%;
            width:60%;
            // height:60vh;


            display:flex;
            flex-direction: row;
            justify-content: flex-end;

            img {
                height: auto;
                width: 95%;
            }

            .contentText {
                position: absolute;
                right:-50%;
                p:nth-child(1) {
                    color:white;
                    font:{
                        family:bariolB;
                        size:3rem;
                    }
                }
                p:nth-child(1):after {
                    content:"TRIBE LEADER";
                    font-family: blog;
                }

                p:nth-child(2) {
                    width: 60%;
                    font:{
                        family:bariolR;
                        size:1.5rem;
                    }
                }
            }

        }

        .responsib {
            border:black solid 2px;
            position: relative;
            width:60%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .cardContainer {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            svg:not(.card) {
                position: absolute;
                top:45%;
                height: 40%;
            }

            .cardRight {
                svg:not(.card) {
                    height: 34%;
                }
            }

            .card {
                position: relative;
                // top:0;
                background-color: transparent;
                border:none;
                width:80%;
                height: 80%;
            }

            p {
                position: absolute;
                width: 100%;
                text-align: center;
                font:{
                    family:bariolB;
                    size:2rem;
                }
            }
        }
    }
    
    div#endContainer9 {
        div#sub-containerEnd9 {
            z-index:1001;
            @include subContainers;
            


        }
    }

    div#endContainer10 {
        // height:200vh;

        div#sub-containerEnd10 {
            @include subContainers;
            justify-content: flex-end;
            .cardFlip {
                border:black solid 2px;
                width:60%;
                margin:auto;
                padding:0;

                display: flex;
                flex-direction: row;
                justify-content: space-around;

                list-style: none;
    
                li {
                    position:relative;
                    width:33%;

                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    p {
                        margin:0;
                        margin-top: 5vh;
                        align-self: center;
                        position:absolute;
                        z-index:100;
                        width:58%;

                        text-align: center;
                        font:{
                            family:bariolR;
                            size:1.5vw;
                        }
                    }

                    svg {
                        width:80%;
                        height: 80%; 
                        background-color: transparent;
                        border:none;   
                    }
                }

            }

        }
    }
}

