
div#end-container1-2 {
    position: relative;

    div.end1-2_icons {
        position:sticky;
        top:0vh;
        height: 0;
        width:100%;
        z-index:100;

        .iconsContainer {
            overflow: hidden;
            position: absolute;
            top:0;

            width:100%;
            height: 100vh;

            

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;

            svg {
                position: relative;
                width:40%;
                height:50%;
            }
    
            .end1-2Icon2 {
                width: 25%;
                .pp {
                        transform-origin: center;
                        transform-box: fill-box;
                        animation:SpinA 10s infinite linear;
                    }
                    animation:SpinB 10s infinite linear;
            }
    
            .end1-2Icon1,.end1-2Icon3 {
                bottom:20%;
                width: 25%;
                .pp {
                        transform-origin: center;
                        transform-box: fill-box;
                        animation:SpinA 10s infinite linear;
                    }
                    animation:SpinB 10s infinite linear;
            }
    
            .fillS {
                position:absolute;
                width:5%;
            }
    
            .end1-2Icon4 {
                left:32%;
                // height: 50%;
                bottom:-5%;
            }
            .end1-2Icon6 {
                right:32%;
                bottom:-5%
            }
    
            .end1-2Icon5 {
                bottom:40%;
                width:3%;
                height:30%;
            }
    
            .end1-2Icon7 {
                left:29%;
                top:15%;
                width:8%;
            }
    
            .end1-2Icon8 {
                top:15%;
                right:28%;
                width:5%;
            }
    
            .end1-2Icon9 {
                right:32%;
                top:28%;
                width:4%;
            }

        }

    }


    div#endContainer1 {
        position: relative;
        height:600vh;

        div#sub-containerEnd1 {
            @include subContainers;
            @include midTitulos;
            justify-content: flex-start;


            h3 {
                width: 55%;
                margin-top: 10vh;
                font-size: 3vw;


                white-space: nowrap;
                overflow: hidden;
                text-align: center;

                opacity: 0;
                transition: opacity 0.5s;
            }

            h3:after {
                content:"COORDINATION BETWEEN TEAMS";
                font-family: blog;
            }


        }
    }

    div#endContainer2 {
        position: relative;
        height:280vh;

        div#sub-containerEnd2 {
            @include subContainers;
            @include midTitulos;


            h3 {
                margin-bottom: 1vh;
                width: 80%;
                font-size: 3vw;
            }
        }
    }
}


// TRIGGERS ///////////

.end1Trigger {
    position:absolute;
    top:100vh;
}

.end1Trigger-movs {
    position:absolute;
    top:180vh;
}
.end1Trigger-fills {
    position:absolute;
    top:480vh;
}

.end2Trigger {
    position: absolute;
    top:0vh;
}