div#endContainer3 {
    position: relative;
    height:550vh;

    div#sub-containerEnd3 {
        z-index: 1000;
        @include subContainers;
        @include midTitulos;
        justify-content: flex-start;

        h3 {margin-top: 1vh;margin-bottom:0;}
        h3:after {
            content:"STRUCTURED TO ENABLE AGILITY";
            font-family: blog;
        }

        p {
            margin:0;
            margin-bottom: 3vh;
            font:{
                family:bariolR;
                size:2vw;
            }
        }

        svg {
            position: relative;
        }
    }
}

// TRIGGERS ////////////

.end3Trigger-title {
    position: absolute;
    top:100vh;
}
.end3Trigger-icon {
    position: absolute;
    top: 150vh;
}

.end3Trigger-iconOut {
    position: absolute;
    bottom:150vh;
}