@media only screen and (min-width: 992px) {
    @import "../../variables";
    @import "../../intro/intro";
    @import "../../menu/menu";
    @import "../../mid/mid";
    @import "../../end/end";
    @import "../../pass/pass";
}