div#mid-container1-2 {
    position: relative;

    .girl-subContainer {
        position:sticky;
        top:0;
        height:0;
        width:100%;
        z-index:100;

        .girlContainer {
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
    
            .midIcon-girl {
                width: 25%;
                height: 60%;
            }

            .midIcon-question {
                position: absolute;
                top:20%;
                left:55%;
                width:10%;
                height: 50%;

            }
            
        }

    }

    div#mid-container1 {
        height:800vh;

        div#sub-containerMid1 {
            @include subContainers;
            @include midTitulos;
            justify-content: flex-start;

            h3 {
                margin:{bottom:0;top:0} 
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
        
            }

            #mid1Tit1 {
                opacity:0;
                margin-top: 10vh;
            }

            #mid1Tit2 {
                opacity:0;
                font-family: blog;
            }


        }
    }

    div#mid-container2 {
        position: relative;
        height:350vh;

        div#sub-containerMid2 {
            @include subContainers;
            @include midTitulos;
            justify-content: flex-start;


            h3>span {
                font:{
                    family:blog;
                }
            }
        }
    }
}


// TRIGGERS ///////////////////

.mid1-2Trigger-title1 {
    position: absolute;
    top:100vh;
}
.mid1-2Trigger-title2 {
    position: absolute;
    top:200vh;
}

.girlTrigger {
    position:absolute;
    top:250vh;
}

.girlTrigger-question {
    position: absolute;
    top:80vh;
}

.girlSound-alert {
    position:absolute;
    top:400vh;
}

.girlSound-notificacion {
    position: absolute;
    top:200vh;
}