@import "mid1-2";
@import "mid3";
@import "mid4";
@import "mid5";
@import "mid6";

section#mid {
    position: relative;
    * {z-index: 10;}

    >img {
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .backgroundContainer {
        position: sticky;
        top:0;
        height: 0;
        width: 100%;
    
       >img {
        position: absolute;
        height: 100vh;
        width: 100%;
       }
    }
}

#midPass {
    position: relative;
    height: 100vh;
}