div#mid-container1-2 {
    position: relative;

    .girlContainer {
        position:sticky;
        top:25%;
        height:0;
        width:100%;
        z-index:100;

        display: flex;
        justify-content: center;

        .midIcon-girl {
            // position:absolute;
            width: 25%;
            
        }
    }

    div#mid-container1 {
        height:800vh;

        div#sub-containerMid1 {
            @include subContainers;
            @include midTitulos;
            justify-content: flex-start;

            h3 {
                margin:{bottom:0;top:0} 
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
        
            }

            #mid1Tit1 {
                opacity:0;
                margin-top: 10vh;
            }

            #mid1Tit2 {
                opacity:0;
                font-family: blog;
            }


        }
    }

    div#mid-container2 {
        position: relative;
        height:350vh;

        div#sub-containerMid2 {
            @include subContainers;
            @include midTitulos;
            justify-content: flex-start;


            h3>span {
                font:{
                    family:blog;
                }
            }

            .mid2Content {
                position: relative;
                width: 100%;
                text-align: center;
                z-index: 100;
                .mid2Icon {
                    position:relative;
                    width:10%;
                    left:10%;
                    top:-10%;
                }
            }
        }
    }
}


// TRIGGERS ///////////////////

.mid1-2Trigger-title1 {
    position: absolute;
    top:100vh;
}
.mid1-2Trigger-title2 {
    position: absolute;
    top:220vh;
}

.girlTrigger {
    position:absolute;
    top:300vh;
}

.girlTrigger-question {
    position: absolute;
    top:80vh;
}

.girlSound-alert {
    position:absolute;
    top:400vh;
}

.girlSound-notificacion {
    position: absolute;
    top:200vh;
}