div#mid-container3 {
    position: relative;
    height:600vh;

    @include backg;

    div#sub-containerMid3 {
        z-index:101;
        @include subContainers;
        @include midTitulos;
        justify-content: flex-start;

        .mid3Content {
            position: relative;
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            svg {position: absolute;}

            .mid3Icon1 {
                width:50%;
                top:-20%;
                height: 100%;
            }
            .mid3Icon2 {
                width:23%;
                top:-18%;
                height: 100%;
                
                .cls-1{fill:none;}
                .cls-2{fill:#00217a;}
                .cls-3{isolation:isolate;}
                // .cls-4{clip-path:url(#clip-path);}
                // .cls-5{clip-path:url(#clip-path-2);}
                .cls-6{fill:#020100;}
                .cls-7{fill:#bbbdbf;}
            }
            .mid3Icon3 {
                width:50%;
                top:15%;
                height: 100%;

                .cls-1{fill:#6ac500;}

            }
        }
    }
}

// TRIGGERS ///////////////////////

.mid3Trigger-title{
    position:absolute;
    top:100vh;
}
.mid3Trigger-animation1{
    position:absolute;
    top:100vh;
}

.mid3Trigger-animation2{
    position:absolute;
    top:150vh;
}


.mid3Sound-movimiento1 {
    position:absolute;
    top:200vh;
}
.mid3Sound-movimiento2 {
    position:absolute;
    top:280vh;
}
.mid3Sound-movimiento3 {
    position:absolute;
    top:380vh;
}