div#mid-container5 {
    position: relative;
    height:600vh;

    div#sub-containerMid5 {
        @include subContainers;
        @include midTitulos;
        justify-content: space-around;
        h3 {width:50%;margin-top: 5vh;}

        .mid5Content {
            position: relative;
            height: 50%;
            width:90%;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            .mid5Icon1 {
                position: relative;
                z-index: 100;
                height:100%;
                .cls-1{fill:none;}
                .cls-2{clip-path:url(#clip-path);}
                .cls-3{clip-path:url(#clip-path-2);}
                .cls-4{fill:#fff;}
                .cls-5{fill:#fd2415;}
                .cls-6{fill:#020100;}

            }

            .mid5Icon2 {
                position: absolute;
                z-index: 99;
                top:-28%;
                left:41%;


                height: 100%;
                .cls-1{fill:none;}
                .cls-2{clip-path:url(#clip-path);}
                .cls-3{clip-path:url(#clip-path-2);}
                .cls-4,.cls-6{fill:#020100;}
                .cls-5{fill:#fff;}
                .cls-6{fill-rule:evenodd;}
            }
        }
    }
}

// TRIGGERS //////////
.mid5Trigger-title {
    position:absolute;
    top:100vh;
}
.mid5Trigger-icons {
    position:absolute;
    top:200vh;
}